<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/flight-css/flight.css}">
<title th:text="#{title}"></title>
</head>
<body>
<select id="langSelect" onchange="setLanguage()">
<option th:value="#{lang}" th:text="#{lang}"></option>
<option th:if="#{lang} == 'HU'">EN</option>
<option th:if="#{lang} == 'EN'">HU</option>
</select>
<br>
<br>
<br>
<h1 th:text="#{error.page}"></h1>
<div class="error"><br>
<h4 th:text="${status}"></h4>
<h4 th:text="${error}"></h4>
<h4 th:text="${message}"></h4>
<h4 th:text="${#dates.format(timestamp, 'yyyy-MMM-dd HH:mm')}"></h4><br>
<a th:href="@{/logout}" th:text="#{go.login}"></a>
</div>

</body>
<script type="text/javascript" th:src="@{/flight-js/flight-js.js}"></script>
</html>